<app-titulo [title]="title"></app-titulo>

<div class="d-flex">
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro por marca:</label> <input type="text" 
    class="form-control mr-2" 
    placeholder="buscar"
    [(ngModel)]= "filtroLista">
    
  </div>
</div>

<div>
  <label class="mr-2">Filtro personalizado:</label>
  <select [(ngModel)]="filtroCombo">
    <option value=marca>Marca</option>
    <option value=tipo>Tipo</option>
    <option value=modelo>Modelo</option>
  </select>
  <input type="text" 
    class="form-control mr-2" 
    placeholder="buscar"
    [(ngModel)]= "filtroComboValor">   
</div>


<div >
  <button class="btn btn-outline-primary" (click)="novaArma(template)">
    <i class="fa fa-plus-circle"></i>
    Nova Arma
  </button>
</div>
</div>

<table class="table table-striped" class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>#</th>  
      <th>Marca</th>
      <th>Pais De Fabricação</th>
      <th>Tipo</th>
      <th>Modelo</th>
      <th>Calibre Nominal</th> 
      <th>Opções</th> 
      <!--
      <th>Alma</th>
      <th>Raias</th>
      <th>Tipo do Cano</th>
      <th>Comprimento do Cano</th>
      <th>Acao</th>
      <th>Carregamento </th>
      <th>Percussão</th>
      <th>Sistema de Funcionamento</th>
      <th>Capacidade</th>
      <th>Acabamento</th> 
      <th>Mobilidade</th>
      <th>Observações</th>    
      -->
    </tr>
  </thead>
  <tbody *ngIf="armas && armas.length" >
    <tr *ngFor="let arma of armasFiltradas">
      
      <td>{{arma.id}}</td>
      <td>{{arma.marca}}</td>
      <td>{{arma.paisDeFabricacao}}</td>
      <td>{{arma.tipo}}</td>
      <td>{{arma.modelo}}</td>
      <td>{{arma.calibreNominal}}</td>  
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" 
          tooltip="Editar" (click)="editarArma(arma,template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" 
          tooltip="Excluir" (click)="excluirArma(arma, confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>          
      </td>
      <!--
      <td>{{arma.alma}}</td>
      <td>{{arma.raias}}</td>
      <td>{{arma.tipoDoCano}}</td>
      <td>{{arma.comprimentoDoCano | number:'3.0-2'}}</td>
      <td>{{arma.acao}}</td>
      <td>{{arma.carregamento}}</td>
      <td>{{arma.percussao}}</td>
      <td>{{arma.sistemaDeFuncionamento}}</td>
      <td>{{arma.capacidade}}</td>
      <td>{{arma.acabamento}}</td>
      <td>{{arma.mobilidade}}</td>
      <td>{{arma.observacoes}}</td>     
       -->
    </tr>
    
  </tbody>
  <tfoot *ngIf="!armas">
    <tr>
      <td colspan="6" class="text-center">
        <h3>
          Nenhuma arma encontrada
        </h3>
      </td>
    </tr>
  </tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog molda -xl">
      <div class="modal-content">
        <div class="modal-header">
            <h4 id="dialog-sizes-name1" class="modal-title pull=left"> Cadastro de armas</h4>
            <button type="button" class="close pull-right" (click)="template.hide()" >
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
          <form [formGroup]="registerForm">

            <div class="form-row">

              <div class="form-group col">
                <label>Marca</label>
                <select type="custom-select" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('marca').errors
                && registerForm.get('marca').touched}"
                formControlName="marca" placeholder="Insira a marca">
                <option selected value="Taurus"> Taurus</option>
                <option value="CBC"> CBC</option>
                <option value="Boito"> Boito </option>
                <option value="Rossi"> Rossi </option>
                <option value="Glock"> Glock </option>
                <option value="CZ"> CZ </option>
                <option value="Castelo"> Castelo </option>
                <option value="Smith & Wesson"> Smith & Wesson </option>
                <option value="Colt"> Colt </option>
                <option value="Artesanal"> Artesanal</option>
                </select>
                <div *ngIf="registerForm.get('marca').hasError('required')  
                && registerForm.get('marca').touched" class="invalid-feedback">
                  A marca é obrigatória!
                </div>  
                <div *ngIf="registerForm.get('marca').hasError('minlength')  
                && registerForm.get('marca').touched" class="invalid-feedback">
                  Marca deve ter no mínimo 1 caracter
                </div>
                <div *ngIf="registerForm.get('marca').hasError('maxlength')  
                && registerForm.get('marca').touched" class="invalid-feedback">
                  Marca deve ter no máximo 50 caracteres
                </div>
              </div>

              <div class="form-group col">
                <label>País de Fabricação</label>
                <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('paisDeFabricacao').errors
                && registerForm.get('paisDeFabricacao').touched}"
                formControlName="paisDeFabricacao" placeholder="">
                <div class="invalid-feedback">
                  País de fabricação é obrigatório!
                </div>
              </div>

              <div class="form-group col">
                <label>Tipo</label>
                <select type="custom-select" class="form-control" 
                [ngClass]="{'is-invalid': registerForm.get('tipo').errors
                && registerForm.get('tipo').touched}"
                formControlName="tipo" placeholder="">
                <option selected value="Revólver"> Revólver</option>
                <option value="Pistola"> Pistola</option>
                <option value="Garrucha"> Garrucha </option>
                <option value="Espingarda"> Espingarda </option>
                <option value="Carabina"> Carabina </option>
                <option value="Submetralhadora"> Submetralhadora </option>
                <option value="Metralhadora"> Metralhadora </option>
                <option value="Fuzil"> Fuzil </option>
                <option value="Mosquetão"> Mosquetão </option>
                <option value="Artesanal"> Artesanal</option>
                </select>
                <div class="invalid-feedback">
                  O tipo da arma é obrigatório!
                </div>
              </div>
            </div>
            
              <div class="form-row">

                <div class="form-group col">
                  <label>Modelo</label>
                  <input type="text" class="form-control"
                  [ngClass]="{'is-invalid': registerForm.get('modelo').errors
                  && registerForm.get('modelo').touched}"
                  formControlName="modelo" placeholder="">
                  <div class="invalid-feedback">
                   Modelo é obrigatório!
                  </div>
                </div>

                <div class="form-group col">                
                
                  <label>Calibre</label>
                  <select class="custom-select" class="form-control" 
                  [ngClass]="{'is-invalid': registerForm.get('calibreNominal').errors
                  && registerForm.get('calibreNominal').touched}"
                  formControlName="calibreNominal" placeholder="Insira o calibre">
                  <option selected>Abra este menu select</option>
                    <ng-container *ngFor="let calibre of calibres">                    
                    <option value="{{calibre.nominal}}"> {{calibre.nominal}}</option>
                    </ng-container>                 
                  </select>
                  <div *ngIf="registerForm.get('calibreNominal').hasError('required')  
                  && registerForm.get('calibreNominal').touched" class="invalid-feedback">
                    O calibre é obrigatório!
                  </div>  
                </div> 
                  
              <div class="form-group col">
                <label>Alma</label>
                <select type="custom-select" class="form-control" 
                [ngClass]="{'is-invalid': registerForm.get('alma').errors
                && registerForm.get('alma').touched}"
                formControlName="alma" placeholder="">
                <option selected>Abra este menu select</option>                                   
                <option value="Alma lisa"> Alma lisa</option>
                <option value="Alma raiada - Sinistrógira"> Alma raiada - Sinistrógira</option>
                <option value="Alma raiada - Dextrógira"> Alma raiada - Dextrógira</option>
                </select>
                <div class="invalid-feedback">
                  A alma é obrigatória!
                </div>
              </div>
            
            </div>
         
          
            <div class="form-row">

              <div class="form-group col">
                <label>Raias</label>
                <input type="number" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('raias').errors
                && registerForm.get('raias').touched}"
                formControlName="raias" placeholder="">
                <div class="invalid-feedback">
                  nº de raias é obrigatória!
                </div>
              </div>

              <div class="form-group col">
                <label>Tipo do cano</label>
                <select type="custom-select" class="form-control" 
                [ngClass]="{'is-invalid': registerForm.get('tipoDoCano').errors
                && registerForm.get('tipoDoCano').touched}"
                formControlName="tipoDoCano" placeholder="">
                <option selected>Abra este menu select</option>                                   
                <option value="Cano Simples"> Cano Simples</option>
                <option value="Cano Duplo Horizontal"> Cano Duplo Horizontal</option>
                <option value="Cano Duplo Vertical"> Cano Duplo Vertical</option>
                </select>
                <div class="invalid-feedback">
                  Tipo do cano é obrigatório!
                </div>
              </div>

              <div class="form-group col">
                <label>Comp. do cano</label>
                <input type="number" class="form-control" 
                [ngClass]="{'is-invalid': registerForm.get('comprimentoDoCano').errors
                && registerForm.get('comprimentoDoCano').touched}"
                formControlName="comprimentoDoCano" placeholder="">
                <div class="invalid-feedback">
                  Comprimento do cano é obrigatório!
                </div>
              </div>

              <div class="form-row">
              <div class="form-group col">
                <label>Ação</label>
                <select type="custom-select" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('acao').errors
                && registerForm.get('acao').touched}"
                formControlName="acao" placeholder="">
                <option value="Ação Simples" selected>Ação Simples</option>                                   
                <option value="Ação Dupla"> Ação Dupla</option>
                <option value="Dupla Ação"> Dupla Ação</option>
                <option value="Ação Híbrida"> Ação Híbrida</option>
                </select>
                <div class="invalid-feedback">
                  A ação é obrigatória!
                </div>
              </div>

              <div class="form-group col">
                <label>Carregamento</label>
                <select type="custom-select" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('carregamento').errors
                && registerForm.get('carregamento').touched}"
                formControlName="carregamento" placeholder="">                                  
                <option selected value="antecarga"> antecarga </option>
                <option value="retrocarga"> retrocarga</option>
                </select>
                <div class="invalid-feedback">
                  O carregamento é obrigatório!
                </div>
              </div>

              <div class="form-group col">
                <label>Percussão</label>
                <select type="custom-select" class="form-control" 
                [ngClass]="{'is-invalid': registerForm.get('percussao').errors
                && registerForm.get('percussao').touched}"
                formControlName="percussao" placeholder=""> 
                <option value="Haste de Ferro"> Haste de Ferro</option>                                
                <option value="Sistema de Mecha"> Mecha </option>
                <option value="Feche de Roda"> Feche de Roda</option>
                <option value="Miguelete"> Miguelete </option>
                <option value="Percussão Extrínseca"> Percussão Extrínseca </option>
                <option value="Percussão Intrínseca Central Indireta"> Percussão Intrínseca Central Indireta </option>
                <option selected value="Percussão Intrínseca Central Direta"> Percussão Intrínseca Central Direta  </option>
                <option value="Percussão Intrínseca Radial"> Percussão Intrínseca Radial  </option>
                <option value="Percussão Intrínseca Pino-Lateral"> Percussão Intrínseca Pino-Lateral </option>
                <option value="Inflamação Elétrica"> Inflamação Elétrica </option>
                </select>
                <div class="invalid-feedback">
                  A percussão é obrigatória!
                </div>
              </div>

            </div> 
          </div>
            <div class="form-row">
             

              <div class="form-group col">
                <label> Sist. de Funcionamento </label>
                <select type="custom-select" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('sistemaDeFuncionamento').errors
                && registerForm.get('sistemaDeFuncionamento').touched}"
                formControlName="sistemaDeFuncionamento" placeholder=""> 
                <option selected value="Tiro Unitário - Cano Simples"> Tiro Unitário - Cano Simples</option>
                <option value="Tiro Unitário - Cano Múltiplo"> Tiro Unitário - Cano Múltiplo</option>
                <option value="De repetição - Não automática"> De repetição - Não automática </option>
                <option value="Semiautomática"> Semiautomática </option>
                <option value="Automática"> Automática </option>
                </select>
                <div class="invalid-feedback">
                  Sistema de funcionário é obrigatório!
                </div>
              </div>

              <div class="form-group col">
                <label>Capacidade</label>
                <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('capacidade').errors
                && registerForm.get('capacidade').touched}"
                formControlName="capacidade" placeholder="">
                <div class="invalid-feedback">
                  A capacidade é obrigatória!
                </div>
              </div>

              <div class="form-group col">
                <label>Acabamento</label>
                <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('acabamento').errors
                && registerForm.get('acabamento').touched}"
                formControlName="acabamento" placeholder="">
                <div class="invalid-feedback">
                  O acabamento é obrigatório!
                </div>
              </div>                    
          
           
            </div> 
          
            <div class="form-row">

              <div class="form-group col">
                <label>Mobilidade</label>
                <select type="custom-select" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('mobilidade').errors
                && registerForm.get('mobilidade').touched}"
                formControlName="mobilidade" placeholder="">
                <option selected value="Não-Portátil"> Não-Portátil</option>
                <option value="De Porte"> De Porte</option>
                <option value="Portátil"> Portátil </option>
                </select>
                <div class="invalid-feedback">
                  A mobilidade é obrigatória!
                </div>
              </div>  

              <div class="form-group col">
                <label>Observações</label>
                <input type="text" #file class="form-control" formControlName="observacoes" placeholder="">
              </div> 
                             
            </div> 
            
          </form>
        </div>
        <div class="modal-footer d-flex">
          <button class="btn btn-secondary" (click)="template.hide()">
            Fechar
          </button>
          <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
            Salvar Alterações
          </button>
        </div>
      </div>
    </div>
</div>

<button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirArma(arma, confirm)">
	<i class="fa fa-eraser"></i>
</button>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Arma
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarArma}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CANCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          			DELETAR
        		</button>
    		</div>
  		</div>
	</div>
</div>

