<app-titulo></app-titulo>
<div class="container">

	
  <div class="row mbr-justify-content-center">

          <div class="col-lg-6 mbr-col-md-10">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fas fa-globe-americas"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Aulas <span>Online</span></h2>
                      <p class="mbr-fonts-style text1 mbr-text display-6">Curso básico em vídeo para iniciantes</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont far fa-eye"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Encontre
                          <span>Modelos de armas do mundo todo!</span>
                      </h2>
                      <p class="mbr-fonts-style text1 mbr-text display-6">O portal Wiki armas foi construidos para amantes de armas 
                        prossifionais de segurança, CAC's e para todos que gostam da história das armas.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fas fa-award"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Agenda
                          <span>de eventos</span>
                      </h2>
                      <p class="mbr-fonts-style text1 mbr-text display-6">Encontre os eventos pertinhos de você</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fas fa-camera-retro f"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Contribua <span>para o portal</span></h2>
                      <p class="mbr-fonts-style text1 mbr-text display-6">Contribuindo para o portal você ajuda a comunidade e expande os conehcimentos</p>
                  </div>
              </div>
          </div>

          

          
      </div>

</div>