<app-titulo></app-titulo>
<div class="container">


       
          
    
	
  <div class="row mbr-justify-content-center">

   
          <div class="col-lg-6 mbr-col-md-10" >
              <div class="wrap">                
                  <div class="ico-wrap">
                      <a class="navbar-brand" routerLink="/conteudo">
                        <span class="mbr-iconfont fas fa-globe-americas"></span> 
                      </a>
                      
                  </div>
                  <div class="text-wrap vcenter">
                  
                      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Conteúdo <span>de Balística</span></h2>
                      <p class="mbr-fonts-style text1 mbr-text display-6">Material sobre Armas e Balística Forense</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-6 mbr-col-md-10">
              <div class="wrap">
                  <div class="ico-wrap">
                    <a class="navbar-brand" routerLink="/conteudo">
                      <span class="mbr-iconfont far fa-eye"></span>
                    </a>
                  </div>
                  <div class="text-wrap vcenter">
                      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                        
                            Encontre <span>Modelos de armas do mundo todo!</span>
                       
                      </h2>
                      <p class="mbr-fonts-style text1 mbr-text display-6">O portal Wiki armas foi construidos para amantes de armas 
                        prossifionais de segurança, CAC's e para todos que gostam da história das armas.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10">
              <div class="wrap">
                  <div class="ico-wrap">
                    <a class="navbar-brand" routerLink="/artigos">
                      <span class="mbr-iconfont fas fa-award"></span>
                    </a>
                  </div>
                  <div class="text-wrap vcenter">
                      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Artigos
                          <span>de colaboradores</span>
                      </h2>
                      <p class="mbr-fonts-style text1 mbr-text display-6">Melhores artigos para você ler</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10">
              <div class="wrap">
                  <div class="ico-wrap">
                    <a class="navbar-brand" routerLink="/conteudo">
                      <span class="mbr-iconfont fas fa-camera-retro f"></span>
                    </a>
                  </div>
                  <div class="text-wrap vcenter">
                      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Contribua <span>para o portal</span></h2>
                      <p class="mbr-fonts-style text1 mbr-text display-6">Contribuindo para o portal você ajuda a comunidade e expande os conehcimentos</p>
                  </div>
              </div>
          </div>

          

          
      </div>

</div>