<p>
 Marcas de armas de fogo
 <br>
 Brasileiras: Taurus, Imbel, CBC, Rossi, Boito
 <br>
 Estrageiras: Glock, CZ, Sig Sauer, Beretta, Colt, Smith & Wesson, Orbea Hermanos,
</p>


<table class="lado">
  <tr >
    <th> Marca </th>
    <th> Site</th>
  </tr>
  <tr >
    <td>Taurus </td>
    <td>https://taurusarmas.com.br/</td>
  </tr>
  <tr >
    <td>Benelli </td>
    <td>https://www.benelli.it/pt/</td>
  </tr>
  <tr >
    <td> Beretta </td>
    <td>https://www.beretta.com/en//</td>
  </tr>
  <tr >
    <td>Bersa </td>
    <td>https://www.bersa.com.ar/</td>
  </tr>
  <tr >
    <td>Boito </td>
    <td>https://www.armasboito.com.br/</td>
  </tr>
  <tr >
    <td>Browning </td>
    <td>https://www.browning.com/</td>
  </tr>
  <tr >
    <td>CBC </td>
    <td>https://www.cbc.com.br/</td>
  </tr>
  <tr >
    <td>Colt </td>
    <td>https://www.colt.com/</td>
  </tr>
  <tr >
    <td>CZ </td>
    <td>https://www.czub.cz/</td>
  </tr>
  <tr >
    <td>FAMAE </td>
    <td>http://www.famae.cl/</td>
  </tr>
  <tr >
    <td>FN (Fabrique Nationale de Herstal) </td>
    <td>https://www.fnherstal.com/</td>
  </tr>
  <tr >
    <td>Glock </td>
    <td>https://eu.glock.com/</td>
  </tr>
  <tr >
    <td>Grand Power </td>
    <td>https://www.imbel.gov.br/</td>
  </tr>
  <tr >
    <td>Hatsan </td>
    <td>https://hatsan.com.tr/</td>
  </tr>
  <tr >
    <td>HK (Heckler & Kock) </td>
    <td>https://hk-usa.com/</td>
  </tr>
  <tr >
    <td> IWI (Israel Weapon Industries) </td>
    <td>https://iwi.net/</td>
  </tr>
  <tr >
    <td>Kimber </td>
    <td>https://www.kimberamerica.com/</td>
  </tr>
  <tr >
    <td>Magnum (Magnum Researche) </td>
    <td>https://www.magnumresearch.com/</td>
  </tr>
  <tr >
    <td>Mossberg </td>
    <td>https://www.mossberg.com/</td>
  </tr>
  <tr >
    <td>Remington </td>
    <td>https://www.remington.com/</td>
  </tr>
  <tr >
    <td>Ruger</td>
    <td>https://ruger.com/</td>
  </tr>
  <tr >
    <td>Savage </td>
    <td>https://www.savagearms.com/</td>
  </tr>
  <tr >
    <td>Sig Sauer </td>
    <td>https://www.sigsauer.com/</td>
  </tr>
  <tr >
    <td> Smith & Wesson </td>
    <td>https://www.smith-wesson.com/</td>
  </tr>
  <tr >
    <td>Springfield </td>
    <td>https://www.springfield-armory.com/</td>
  </tr>
  <tr >
    <td>Tangoflio </td>
    <td>http://www.tanfoglio.it/</td>
  </tr>
  <tr >
    <td>Thompson </td>
    <td>https://www.tcarms.com/</td>
  </tr>
  <tr >
    <td>Walther </td>
    <td>https://waltherarms.com/</td>
  </tr>
  <tr >
    <td>Winchester</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Agner (Dinamrca)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>AMT - Arcadia Machine e Guns</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Arminius</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Arms Moravia</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Artax</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Astras (Espanha)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
</table>
--
<table class="lado">
  <tr >
    <th> Marca </th>
    <th> Site</th>
  </tr>
  <tr >
    <td>Auto-Ordinance Corporation (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Accuracy International (Inglaterra)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Bajkal (Russia)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Bayardy (Espanha)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Briley (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Bul Transmark (Irsael)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>BSA (Inglaterra)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Bushmaster firearmes (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Coonan (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Caspian (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>

  <tr >
    <td>Daewoo (Coreia do Sul)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Daly (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Dan Wesson (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Domino / FAS (Israel)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td> EAA - European American Armory (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Erma (Alemanha)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Fég (Hungria)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Feinwerkbau (Alemanha)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Freedom Arms (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Gamba (Italia)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Gaucher Armes (Italia)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Grizzly (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>IMI - Israel Military Industries (Israel)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Mauser (Alemanha)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Makarov (Rússia)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>NAA - North American Arms (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Ruger (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Sako (Finlandia)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>Springfield Armory (EUA)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
  <tr >
    <td>URKO (BRASIL)</td>
    <td>https://www.winchesterguns.com/</td>
  </tr>
</table>